# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Models
models/*.pkl
models/*.joblib

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/
